* {
  font-family: "AvenirNext", Avenir, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4c4c4c;
}

body {
  background-color: #eceef1;
}

.sign-in-section {
  padding: 10px 30px;
  height: 60px;
}

.sign-in-btn {
  float: right;
  background-color: #0077c5;
  color: #fff;
  height: 34px;
  width: 67p;
  padding: 0 20px;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 1.125em;
  margin-left: 10px;
}

.sign-in-text {
  float: right;
}

.sign-in-p {
  margin: 0;
  font-size: 0.85em;
}

a {
  color: #0077c5;
  text-decoration: none;
  font-size: 0.9em;
}

.logo-container {
  padding: 20px 0;
}

.logo {
  height: 80px;
  margin: auto;
  display: block;
}

.form-container {
  width: 318px;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #c7c7c7;
  border-radius: 2px;
  margin: auto;
  text-align: center;
}

h2 {
  font-weight: 500;
  text-align: center;
}

.submit-btn {
  background-color: #0077c5;
  color: #fff;
  height: 34px;
  width: 67p;
  padding: 0 20px;
  border: 1px solid #4c4c4c;
  border-radius: 4px;
  font-size: 1.125em;
  margin: auto;
  width: 100%;
}

fieldset {
  border: none;
  margin: none;
  padding: 15px 0;
}

input {
  width: 100%;
}

fieldset {
  text-align: left;
}

input {
  margin-top: 10px;
  height: 34px;
  border: 1px solid #c1c5c8;
  border-radius: 2px;
}

p {
  font-size: 0.9em;
  margin: 0;
}

label {
  font-size: 0.9em;
}

.terms {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 0.82em;
  color: #4c4c4c;
  font-style: italic;
  line-height: 20px;
}

.captcha-section {
  background-color: #eceef1;
  margin: 32px -30px -30px -30px;
  padding: 16px;
  font-size: 0.7em;
}

nav {
  widows: 100%;
  margin: auto;
  text-align: center;
  margin: 30px 0 0 0;
  color: ;
}

.footer-link {
  color: #4c4c4c;
  padding: 0px 5px;
  font-size: 0.75em;
  line-height: 20px;
}

.footer-link:hover {
  text-decoration: underline #4c4c4c;
}   

.legal-text {
    font-size: 0.75em;
    text-align: center;
    width: 750px;
    margin: auto;
    line-height: 20px;
}